        <div class="headerhomepage">
            <div class="flex-column flex-left">
                <h5>Xin chào!</h5>
                <button onclick="deletecookies()" class="btn_logout">Logout</button>
                <a href="/manager" class="btn_logout">Manager</a>
            </div>
         </div>


        <div class="containerHomePage">
            <div id="home" class="flex-column flex-center">
                <h1>Are You Readly?</h1>
                <a href="/game" class="btn_home">Play</a>
                <a href="/highscores" class="btn_home" id="highscores_btn">
                    Highscores<i class="fas fa-crown"></i>
                </a>            
            </div>
        </div>

<div id="toast"></div>