<div class="container">

  <div class="forms-container">
          <div class="signin-signup">
                    <form action="/login" method="post" class="sign-in-form" id="cpa-form">
                          <h2 class="title">Đăng nhập</h2>
                            <div class="input-field">
                                    <i class="fas fa-user"></i>
                                        <input type="text" placeholder="Tên tài khoản" name="username" id="usernamelogin"/>
                              </div>
                              <div class="input-field">
                                          <i class="fas fa-lock"></i>
                                        <input type="password" placeholder="Mật khẩu" name="password" id="passwordlogin" />
                            </div>
                            <input onclick="login()" value="Login" class="btn solid" />
                    </form>
            </div>
    </div>

  <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Bạn chưa có tài khoản?</h3>
            <p>
          Hãy bấm vào đăng ký để tạo một tài khoản mới!
            </p>
            <button onclick="location.href='/register'" class="btn transparent" id="sign-up-btn">
              Đăng Ký
            </button>
          </div>
          <img src="img/log.svg" class="image" alt="" />
        </div>
  </div>
          
</div>

<div id="toast"></div>



<script>
  function login(){
    $.ajax({
        url: '/login',
        type: 'POST',
        data: {
            username: $('#usernamelogin').val(),
            password: $('#passwordlogin').val()
        }
    }).then(data => {
        setCookie('token',data.accessToken,1);
        window.location.replace("/");
    }).catch(err =>{
        showToast(err.responseJSON.title,err.responseJSON.message,err.responseJSON.type);
    });
}
</script>